@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Reset some styles to provide consistent rendering across different browsers */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set the default font family and color for the body */
body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: #000;
}

/* Add some padding and a background color to the root element */
html {
  box-sizing: border-box;
}

/* Apply a border box model to all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  background-color: rgb(22, 163, 74);
  color: white;
  padding: 1rem 2rem;

  height: 4rem;
  font-weight: 400;
  font-size: 1.5rem;
}
